.content1
{
    background-color:0;
    margin-top:70px;
    text-align: justify;   
}

.content2
{
    background-color:0;
    margin-top:115px;
    text-align: justify;
     
   
}

.padding
{
    border: 1px solid black; 
     
    padding: 5px;
}

.card-img-top1
{
    width: 100%;
    height: 200px;
}
.paddingp
{
    margin-top:2px ;
    margin-bottom: 2px;
}
 
.position
{
    position:relative;
}

.position1
{
    position: absolute;
}

.container1
{
    width: 100%;
    border: 1px black solid;  
    height: 100%;
    
}

.mainbox
{
    width: 70%;
    padding: 10px;
    background-color:none;
}

.sidebox
{
   width:30%;
   padding:0 0 10px 10px;
   background-color: black; 
}

.struktur
{
    width: 1000px;
}

.text-gambar
{
    padding-top: 10px;
    padding-bottom: 0;
}

.container1-1
{
    padding:20px 0px 0 0 ;
}

.gambar1
{
    height: 450px;
     
} 

.gambarkontent
{
    height: 150px;
    width: 200px;
    
}

.mainkontent
{
    width:69%;
}

.sidekontent
{
    width: 30%;
}

.kotak1
{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 5px;
    padding:5px;
    margin-top: 5px;
}

.thumbnail1
{
    width: 100%;
}

.bottom1
{
    width: 100%;
}

.text-indent
{
    text-indent: 50px;
}

.type
{
     
}